/*Обнулення (reset)*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
/*Стилізація*/
main{
	background-color: blueviolet;
}
.block{
font-size: 19px;
font-weight: 700;
line-height: 25px;
color: rgb(105, 6, 6);
}
.repeat-x {
	width: 195px;
	height: 110px;
	border: 3px solid blue;
	background-image: url("../img/eyes.png");
	background-repeat: repeat-x;
	border-radius: 0px 0px 0px 30px;
	color: rgb(105, 6, 6);
	display: inline-block;
	padding-top: 7px;
}
.repeat-y {
	width: 195px;
	height: 110px;
	border: 3px solid blue;
	background-image: url("../img/smile.jpg");
	background-repeat: repeat-y;
	color: rgb(105, 6, 6);
	display: inline-block;
}

.space{
	width: 195px;
	height: 110px;
	border: 3px solid blue;
	background-image: url("../img/smile.jpg");
	background-repeat: space;
	color: rgb(16, 9, 122);
	display: inline-block;
	/*padding-top: 30px;*/
}

.round{
	width: 195px;
	height: 110px;
	border: 3px solid blue;
	background-image: url("../img/smile.jpg");
	background-repeat: round;
	color: rgb(16, 9, 122);
	display: inline-block;
	border-radius: 0px 0px 30px 0px;
}

